---
layout: default
title: Home
---

{% if paginator.posts %}
  {% for post in paginator.posts %}
    {% include featured-post.html %}
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-button pagination-active next" href="{{ paginator.next_page_path }}">← Older</a>
    {% else %}
      <span class="pagination-button">← Older</span>
    {% endif %}

    {% if paginator.previous_page %}
      <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path }}">Newer →</a>
    {% else %}
      <span class="pagination-button">Newer →</span>
    {% endif %}
  </div>
{% endif %}
