<footer class="footer">
  <ul class="social-links">
    <li>
      <a href="https://moviemarginalia.substack.com" target="_blank">
        <i class="fa fa-book" aria-hidden="true"></i> Substack
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/moviemarginalia" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
      </a>
    </li>
    <li>
      <a href="https://boxd.it/1yzWH" target="_blank">
        <i class="fa fa-film" aria-hidden="true"></i> Letterboxd
      </a>
    </li>
    <li>
      <a href="https://youtube.com/@moviemarginalia" target="_blank">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube
      </a>
    </li>
    <li>
      <a href="mailto:moviemarginalia@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i> Email
      </a>
    </li>
  </ul>

  <style>
    .social-links {
      list-style: none;
      padding: 0;
      margin: 1rem 0 2rem;
      text-align: center;
    }
    .social-links li {
      display: inline-block;
      margin: 0 0.75rem;
    }
    .social-links a {
      text-decoration: none;
      color: #444;
      font-weight: 600;
    }
    .social-links a:hover {
      text-decoration: underline;
    }
    .social-links i {
      margin-right: 0.4em;
    }
  </style>
</footer>
